/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {

}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*************
   Start CSS
*************/

body {
  background-color: rgb(244,235,228);
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
}
/************************
Front Page and Error Page
************************/

.main-frontpage {
  height: 70%;
  width: 100%;
  display: flex;
  justify-content: center;
}
.frontpage {
  display:flex;
  justify-content: space-around;
  flex-direction: column;
  width: 350px;
}
.front-btn {
  width: 350px;
  padding: 30px;
  font-size: 18px;
  border-radius: 5px;
  background: linear-gradient(
    rgb(244,244,244),
    rgb(211,211,211),
    rgb(187,187,187));
}
.main-errorpage{
  height: 70%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}



/*****************
Header and Footers
*****************/
header, footer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  width: 100%;
  height: 15%;
  background: linear-gradient(
    rgba(41,23,3,1),
    rgba(60,39,18,1),
    rgba(41,23,3,1));
  font-size: 20px;
  z-index: 99;
}


header {
  top : 0;
  color: rgb(250,249,245);;
}
footer {
  bottom: 0;
}

.footer-btns {
  display: flex;
  align-items: center;
  width: 350px;
  justify-content: space-between;
}
.btn, .send-form-btn, .success-btn, .back-btn {
  padding: 12px 40px;
  font-size: 16px;
  border-radius: 5px;
  background: linear-gradient(
    rgb(244,244,244),
    rgb(211,211,211),
    rgb(187,187,187));
}
.success-btn {
  padding: 12px 10px;
}
.back-btn {
  width: 350px;
}

/**************
Send Money Form
**************/


input, textarea {
  border: none;
  background-color: transparent;
  resize: none;
  outline: none;
}
input:focus, textarea:focus{
    border: none;
    background-color: transparent;
    resize: none;
    outline: none;
}
.main-sendmoney{
  height: 70%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.overlay {
  background-color: #010101;
  opacity: 0.5;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.spinner {
  opacity: 1;
  max-width: 10%;
}

.send-money {
  display:flex;
  justify-content: center;
  
  flex-direction: column;
  width: 350px;
  margin: auto;
}

.sendmoney-form {
  overflow: auto;
}
.input-box {
  display:flex;
  width: 100%;
  border: solid 1.5px;
  
  background-color: rgb(250,249,245);
  border-radius: 8px;
  margin-top: 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
}
.input-box > label {
  padding: 10px;
  display:flex;
  width: 100%;
  font-size: 16px;
}
.input-box > label > input {
  display:flex;
  flex: 1;
  font-size: 12px;
}
.inline-checkmark {
  font-size: 13px;
}

.message-box {
  flex-direction: column;
}
.payment-type {
  flex-direction: column;
}
.payment-option {
  display:flex;
  padding: 12px 10px;
  justify-content: space-between;
}
.payment-option:nth-child(1) {
  border-bottom: 1px solid black;
}
.active {
  color: rgb(202,150,93);
}

/*************
Success Screen
**************/

.success-msg, .success-checkmark {
  display: flex;
  align-self: center;
}
.success-checkmark {
  font-size: 80px;
  font-weight: 700;
  color: rgb(202,150,93);
}


/******************
Transaction History
******************/
.transaction-container {
  position: absolute;
  width: 100%;
  height: 70%;
  top: 15%;
  bottom: 15%;
  overflow: auto;
}
.transaction-list {
  display:flex;
  width: 450px;
  flex-direction: column;
  margin: auto;
  
}
.transaction-item {
  display: flex;
  padding: 10px 15px;
  justify-content: space-between;
  align-items: center;
  min-height: 7%;
}
.transaction-item:nth-child(odd) {
  background: rgb(228,213,194);
}
.transaction-item:nth-child(even) {
  background: rgb(233,217,202);
}